<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div>
        {% for pet in pets %}
        <div>
            <img src="{{pet.photo_url}}" alt="{{pet.name}}">

            <h2>{{ pet.name }}</h2>

            {% if pet.available %}
            <p>Available</p>
            {% else %}
            <p>Not Available</p>
            {% endif %}

        </div>
        {% endfor %}
</body>

</html>